:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
  }

body{
    background: var(--bg);
    color: var(--text);
    font-family: 'Prompt', sans-serif;
    margin: 0;
}

#button_bg{
  cursor: pointer;
  background-color: var(--border-button);
  color: var(--buttons);
}

@media (max-width: 1024px){
  .card{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main{
    /* padding-left: 25px; */
    display: flex;
    align-items: center;
  }

  #section_name{
    position: relative;
    left: -70px;
  }

  #avatar{
    left: 30px;
  }

  ul{
    left: -55px;
  }

  #section_footer{
    left: 40px;

  }

}