:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
  }

body{
    background: var(--bg);
    color: var(--text);
    font-family: 'Prompt', sans-serif;
}

@media (max-width: 465px){
  .card{
    display: grid;
    grid-template-areas: 
    "main"
    "aside"
    ;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    background-color: var(--bg);
    padding: 50px 20px;
    row-gap: 2rem;
    /* border: 1px solid red; */
  }


}